
/*
 *  SCROLLBAR CSS
 */

 *::-webkit-scrollbar-track:vertical {
    background-color: #d9d9d9;
    /* border-right: 3px solid rgba(255, 255, 255, 0.6); */
  }
  
  *::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(50, 50, 50, 0.5);
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb:vertical:hover {
    /* background-color: rgba(150, 150, 150, 0.7); */
    /* border-right: none; */
    /* border-radius: 10px; */
    border-right: 6px solid rgba(50, 50, 50, 0.7);

  }
  
  
  /*
   *  HORIZONTAL SCROLLBAR CSS
   */
  
  *::-webkit-scrollbar-track:horizontal {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 6px solid rgba(255, 255, 255, 0.6);
  }
  
  *::-webkit-scrollbar:horizontal {
    height: 6px;
  }
  
  *::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 6px solid rgba(50, 50, 50, 0.5); 
    /* border-bottom: 5px solid rgba(50, 50, 50, 0.5); rgb(17 94 89 */
  }
  
  *::-webkit-scrollbar-thumb:horizontal:hover {
    /* background-color: rgba(150, 150, 150, 0.7); */
    border-bottom: none;
    /* border-radius: 10px; */
    border-bottom: 6px solid rgba(50, 50, 50, 0.7); 

  }