@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* text-[#547dc7] bg-[#e9f0ff] blue */
/* bg-[#f9fafc] white smallest */
/* bg-[#dee4eb] white medium */

html,
body {
  font-family: "Karla", sans-serif;
  color: rgb(30 41 59);
  accent-color: #115e59;
  /* width: 100vw; */
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

@layer utilities {
  .lh-1 {
    line-height: 1.5rem;
  }
  .lh-3 {
    line-height: 3rem;
  }
  .font-1 {
    font-family: "Karla", sans-serif;
  }
  .font-2 {
    font-family: "Playfair Display", serif;
  }
  .shadow-1 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .shadow-2 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .shadow-3 {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .shadow-4 {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
  .shadow-5 {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .after-underline {
    user-select: none;
    cursor: pointer;
  }
  .after-underline::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border: 1px solid black;
    opacity: 0.5;
  }
  .glass-1 {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .glass-2 {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
  }

  .rounded-1 {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .breadcrumb::after {
    content: ">";
    margin: 0 5px;
    /* background-color: red; */
  }

  .breadcrumb:last-child::after {
    content: "";
  }
  .dropdown-area-w {
    width: min(215px, 50%);
  }
}

@layer components {
  .bg-white-1 {
    @apply bg-[#f9fafc];
  }
  .bg-white-2 {
    @apply bg-[#ebedef];
  }
  .heading-1 {
    @apply text-teal-800 text-lg md:text-2xl font-serif font-semibold;
  }
  .heading-2 {
    @apply text-lg font-mono;
  }
  .heading-3 {
    @apply capitalize font-mono font-bold;
  }
  .icon-heading-1 {
    @apply flex items-center gap-1;
  }
  .btn-1 {
    @apply px-4 py-2 rounded-full outline-none;
  }
  .btn-2 {
    @apply px-3 py-1 active:scale-95 transition duration-200 rounded-full select-none cursor-pointer text-sm border-[1.5px] border-black border-opacity-70;
  }

  .dropdown-base-1 {
    @apply relative h-10;
  }
  .dropdown-area-1 {
    @apply flex flex-col w-48 shadow-2 rounded absolute z-10 bg-white py-3 px-1;
  }
  .dropdown-item {
    @apply capitalize px-3 py-2 rounded-sm select-none cursor-pointer transition duration-200 hover:bg-gray-200;
  }
  .form-input {
    @apply rounded-md placeholder:text-sm outline-none p-2 placeholder:tracking-wider bg-gray-100;
  }
  .form-input-2 {
    @apply border-[1.5px] border-black border-opacity-50 placeholder:text-slate-600 rounded-full py-2 px-4 outline-none bg-transparent;
  }
  .password-input {
    @apply bg-transparent outline-none w-full border-r-[1.5px] pr-2 mr-2 border-black border-opacity-40 placeholder:text-slate-600;
  }
  .form-input-3 {
    @apply border border-black border-opacity-30 rounded-full py-1 px-3 outline-none placeholder:text-sm placeholder:text-opacity-50 placeholder:capitalize;
  }
  .card-1 {
    @apply p-5 shadow-4 border-[1.5px] border-teal-800 rounded-1;
  }
  .bdr {
    @apply border border-black border-opacity-50;
  }
  .bdr-1 {
    @apply border-[1.5px] border-black border-opacity-[0.15];
  }
  .bdr-r {
    @apply border-r-[1.5px] border-black border-opacity-[0.15];
  }
  .bdr-t {
    @apply border-t-[1.5px] border-black border-opacity-[0.15];
  }
  .bdr-b {
    @apply border-b-[1.5px] border-black border-opacity-[0.15];
  }
  .bdr-b-1 {
    @apply border-b-[1.5px] border-black border-opacity-20;
  }
  .sidebar-item {
    @apply flex items-center whitespace-nowrap h-[36px] gap-2 py-2 active:shadow-none select-none cursor-pointer px-4 text-sm rounded-lg [&:not(.active)]:hover:bg-gray-100 w-full text-center;
  }
  .active {
    @apply text-[#547dc7] bg-[#e9f0ff] shadow-2;
  }
  .table-item-1 {
    @apply bg-[#f9fafc] rounded text-start px-2 py-1 opacity-60;
  }

  .placeholder {
    @apply placeholder:text-sm placeholder:text-opacity-60 placeholder:capitalize;
  }
  .click-animation {
    @apply active:scale-95 transition duration-150;
  }
  .link-btn {
    @apply underline opacity-70 text-white tracking-widest font-light italic;
  }

  /* text-[#547dc7] bg-[#e9f0ff] */
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border-radius: 10px;
  height: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
} */
